<h1>Are you repeating yourself?</h1>
<form action="word_repeat">
  <div class="form-group">
    <label for="word_repeat">Type in your text</label>
    <input id="word_repeat" name="word_repeat" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="word_repeat">Type in the word of interest</label>
    <input id="part" name = "part" class = "form-control" type = "text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
